.spacer {
  flex: 1 1 auto;
}

.brand {
  font-weight: 600;
  margin-right: 16px;
}

.user-name {
  margin-left: 16px;
  margin-right: 8px;
  font-size: 14px;
}

.env-selector-wrapper {
  margin-left: 12px;
}
