<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_PATTERN_MDC"
              value="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m endpoint=%X{endpoint:-} companyTaxNumber=%X{companyTaxNumber:-} environment=%X{environment:-} documentNumber=%X{documentNumber:-} erpReferenceId=%X{erpReferenceId:-} outcome=%X{outcome:-} latencyMs=%X{latencyMs:-} payloadArchiveId=%X{payloadArchiveId:-}%n%ex"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN_MDC}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
